<div class="container__small-card">
    <div class="container__small-card-content"> 
        <div class="small-card__photo">
             <img src="https://encrypted-tbn0.gstatic.com/
            images?q=tbn:ANd9GcQwwlfzrNA316N8EVOlnTT0DFABCqUXl9Gtmg&s"
            alt="" srcset="">
         </div>
        <div class="small-card__title">
            <h1> <a href="#">  Saiu a nova versão do Angular </a> </h1>
        </div>
    </div>
    <div class="container_small-card__separator">
        <hr>
    </div>
</div>
